{% extends 'goods/index_base.html' %}
{% block title %}
Generate Report - {{ block.super }}
{% endblock %}
{% block content %}
    <h2>Generate Report </h2>
    <form action="{% url 'generate_report_url' %}" method="post">
    {% csrf_token %}
        {% if form.non_field_errors %}
       <div class="alert alert-danger" role="alert">{{ form.non_field_errors}}</div>
    {% endif %}
    {% for field in form %}
       <div>{{ field.label }}
        {{ field }}</div>
                {% if field.errors %}
       <div class="alert alert-danger" role="alert">{{ field.errors }}</div>
    {% endif %}
    {% endfor %}

    <button class="btn btn-primary" type="submit">Generate</button>
    </form>
{#    <form action="{% url 'goods_add_url' %}" method="post">#}
{#    {% csrf_token %}#}
{#    {% if form.non_field_errors %}#}
{#       <div class="alert alert-danger" role="alert">{{ form.non_field_errors}}</div>#}
{#    {% endif %}#}
{#    {% for field in form %}#}
{#       <div>{{ field.label }}#}
{#        {{ field }}</div>#}
{#                {% if field.errors %}#}
{#       <div class="alert alert-danger" role="alert">{{ field.errors }}</div>#}
{#    {% endif %}#}
{#    {% endfor %}#}
{##}
{#    <button class="btn btn-primary" type="submit">Add</button>#}
{##}
{#    </form>#}
{% endblock %}