{% extends 'goods/index_base.html' %}
{% block title %}
Add Transaction - {{ block.super }}
{% endblock %}
{% block content %}
    <h2>Add Transaction </h2>
    <form action="{% url 'goods_add_url' %}" method="post">
    {% csrf_token %}
    {% if form.non_field_errors %}
       <div class="alert alert-danger" role="alert">{{ form.non_field_errors}}</div>
    {% endif %}
    {% for field in form %}
       <div>{{ field.label }}
        {{ field }}</div>
                {% if field.errors %}
       <div class="alert alert-danger" role="alert">{{ field.errors }}</div>
    {% endif %}
    {% endfor %}

    <button class="btn btn-primary" type="submit">Add</button>

    </form>
{% endblock %}