{% extends 'goods/index_base.html' %}

{% block title %}
Report Chart
{% endblock %}
{% block content %}
    <script>
        {#var endpoint = '/data/';#}
        {#fetch(endpoint)#}
        {#  .then((response) => {#}
        {#    return response.json();#}
        {#  })#}
        {#  .then((a) => {#}
            {#console.log(a);#}
        {##}
        {#  });#}

        var json_data =JSON.parse(JSON.stringify({{ test | safe}}))
        var chart_data =JSON.parse(JSON.stringify({{ chart_data | safe}}))
        console.log( json_data['x']);


</script>

{#    {% for datum in test %}#}
{#    {{ datum}}#}
{#    {% endfor %}#}

<canvas id="myChart"  height="30vh" width="100vw"></canvas>
<canvas id="financeReport"  height="30vh" width="100vw"></canvas>
    <div id="chart_div" style="width: 100%; height: 500px;"></div>
<script src="/static/js/report_chart.js"></script>
<script>
{#var ctx = document.getElementById('myChart');#}
{#var myChart = new Chart(ctx, testChart);#}

google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable(
            chart_data
        {#    [#}
        {#  ['Year', 'Sales', 'Expenses'],#}
        {#  ['2013',  1000,      400],#}
        {#  ['2014',  1170,      460],#}
        {#  ['2015',  660,       1120],#}
        {#  ['2016',  1030,      540]#}
        {#]#}
        );

        var options = {
          title: 'Expenses',
          hAxis: {title: 'Date',  titleTextStyle: {color: '#333'}},
          vAxis: {minValue: 0}
        };

        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }


</script>
{% endblock %}